@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --gray-color: #c6cacd4d;
  --mutedBlack-color: #28282b;
  --semiGray-color: #53565e;
  --lightGray-color: #f6f6f6;
  --gold-color: #e0cfb9;
  --filter-color: rgba(0, 0, 0, 0.1);
  --dark-filter-color: rgba(0, 0, 0, 0.85);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-fraunces), serif;
  font-weight: 300;
  overflow-x: hidden;
}

.normal_font {
  font-family: var(--font-fraunces), serif !important;
}
.kristy_font {
  font-family: var(--font-kristy), cursive;
}
@media (max-width: 1024px) {
  .nunito_font_res {
    font-family: var(--font-nunito), sans-serif;
  }
}
.aside_move {
  animation-name: aside_animation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes aside_animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
