@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --gray-color: #c6cacd4d;
  --mutedBlack-color: #28282b;
  --semiGray-color: #53565e;
  --lightGray-color: #f6f6f6;
  --gold-color: #e0cfb9;
  --filter-color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--font-fraunces), serif;
  font-weight: 300;
}

.normal_font {
  font-family: var(--font-fraunces), serif !important;
}
/* .nunito_font {
  font-family: var(--font-nunito), sans-serif;
} */
.kristy_font {
  font-family: var(--font-kristy), cursive;
}
@media (max-width: 1024px) {
  .nunito_font_res {
    font-family: var(--font-nunito), sans-serif;
  }
}
