@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --gray-color: #c6cacd4d;
  --mutedBlack-color: #28282b;
  --semiGray-color: #53565e;
  --lightGray-color: #f6f6f6;
  --gold-color: #e0cfb9;
  --filter-color: rgba(0, 0, 0, 0.1);
  --dark-filter-color: rgba(0, 0, 0, 0.85);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-fraunces), serif;
  font-weight: 300;
  overflow-x: hidden !important;
}

.normal_font {
  font-family: var(--font-fraunces), serif !important;
}
.kristy_font {
  font-family: var(--font-kristy), cursive;
}
@media (max-width: 1024px) {
  .nunito_font_res {
    font-family: var(--font-nunito), sans-serif;
  }
}
.aside_move {
  animation-name: aside_animation;
  animation-duration: 300ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.bundlers {
  animation-name: bundlersCardsAnimation;
  animation-duration: 4000ms;
  animation-iteration-count: 10;
}
@keyframes aside_animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: 540px) {
  .bundlers {
    animation-name: bundlersCardsAnimationRes;
    animation-duration: 4000ms;
    animation-iteration-count: 10;
  }
}
/* @keyframes bundlersCardsAnimation {
  0% {
    background: var(--gold-color);

    transform: translateY(0);
  }
  50% {
    background: #e5e7eb;
    transform: translateY(-30px);
    animation-play-state: paused;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  100% {
    transform: translateY(0);
    animation-play-state: running;
  }
} */
@keyframes bundlersCardsAnimation {
  0% {
    background: var(--gold-color);
    transform: translateY(0);
  }
  25% {
    background: #e5e7eb;
    transform: translateY(-30px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  50% {
    background: #e5e7eb;
    transform: translateY(-30px);
  }
  75% {
    background: var(--gold-color);
    transform: translateY(0);
  }
  100% {
    background: var(--gold-color);
    transform: translateY(0);
  }
}
@keyframes bundlersCardsAnimationRes {
  0% {
    background: var(--gold-color);
  }
  25% {
    background: #e5e7eb;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  50% {
    background: #e5e7eb;
  }
  75% {
    background: var(--gold-color);
  }
  100% {
    background: var(--gold-color);
  }
}
